﻿/*----------------------------------------------------------------------------- 

	-	kenburn slider -

Screen Stylesheet 

version:   	1.0 
date:      	09/18/11 
author:		themepunch
email:     	info@themepunch.com 
website:   	http://www.themepunch.com
-----------------------------------------------------------------------------*/





.tp-simpleresponsive .caption {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";	filter: alpha(opacity=0);	-moz-opacity: 0;	-khtml-opacity: 0;	opacity: 0; position:absolute;
}


/******************************
	-	SHADOWS		-
******************************/
.tp-bannershadow  { 		
		position:absolute;  	
		
		margin-left:auto;
		margin-right:auto;
		-moz-user-select: none; 
        -khtml-user-select: none; 
        -webkit-user-select: none; 
        -o-user-select: none; 
	}
	
.tp-bannershadow.tp-shadow1 {	background:url(../assets/shadow1.png) no-repeat; background-size:100%; width:890px; height:30px; bottom:-30px;}
.tp-bannershadow.tp-shadow2 {	background:url(../assets/shadow2.png) no-repeat; background-size:100%; width:890px; height:60px;bottom:-60px;}
.tp-bannershadow.tp-shadow3 {	background:url(../assets/shadow3.png) no-repeat; background-size:100%; width:890px; height:60px;bottom:-60px;}

/*************************
	-	CAPTIONS	-
**************************/
.caption.white-b1	{
						position: absolute; 
						color: #fff;
						text-shadow: none; 
						font:400 63px 'Open sans', arial, sans-serif;
						text-transform:uppercase;
						padding: 5px 70px; 
						margin: 0px; 
						border-width: 0px; 
						border-style: none;

					}
.caption.black-b1	{
						position: absolute; 
						color: #fff; 
						text-shadow: none;
                        font:100 83px 'raleway', arial, sans-serif;
						text-transform:uppercase;
						padding: 6px 70px; 
						margin: 0px; 
						border-width: 0px; 
						border-style: none;
					}
.caption.black-b3 a{ font:400 15px 'Lato', arial, sans-serif; 
                     color: #fff; 
                     background: rgba(0,0,0,0.4) url("../assets/btn_arow2.png") no-repeat 93% center;
                     padding: 21px 89px 22px 16px; 
                     border-radius: 4px;
                     border: 1px solid #93836B;
                     text-transform: uppercase;
                     text-shadow: 0 0px 1px rgba(0,0,0,0.8);
                     }
.caption.black-b3 a:hover {color: #fff;}

.caption.gray-b2	{
						position: absolute; 
						color: #fff; 
						text-shadow: none; 
						font-size: 28px;
						line-height: 36px; 
						font-family: 'MuseoSlab300Regular';
						text-transform:uppercase;
						padding: 6px 45px 6px 25px; 
						margin: 0px; 
						border-width: 0px; 
						border-style: none; 
						background-color:#2a2a2a;	
					}
.caption.white-b2	{
						position: absolute; 
						color: #fff; 
						text-shadow: none; 
						font-size: 20px; 
						line-height: 16px; 
						font-family: 'Open sans', Sans-Serif;
						font-weight: 300;
						text-transform:uppercase;
						margin: 0px; 
						border-width: 0px; 
						border-style: none; 
						background-color: rgba(255,255,255,0.2);
                        text-shadow: 0 1px 2px rgba(0,0,0,0.5);
	                    padding: 10px 25px 10px 25px; 	
					}
.caption.white-field img.face {
	                    border: 3px solid #232323;
	                    float: left;

}
.caption.white-field{
						position: absolute; 
						color: #f59123; 
						text-shadow: none; 
						font-size: 40px; 
						line-height: 16px; 
						font-family: 'Open Sans Condensed', Sans-Serif;
						font-weight: 700;
						text-transform:uppercase;
						margin: 0px; 
						border-width: 0px; 
						border-style: none; 
	                    padding: 10px 25px 10px 25px; 	
	                    text-shadow: 0 1px 2px rgba(0,0,0,0.6);
					}
.caption.white-field span	{
						color: #fff; 
						text-shadow: 0 1px 2px rgba(0,0,0,0.6);
					}
.caption .txt-slide-shop {
	                    background-color: rgba(255,255,255,0.2);
                        text-shadow: 0 1px 2px rgba(0,0,0,0.5);
                        width: 300px;
                        float: left;
	                    padding: 12px 25px 5px 25px; 
						color: #fff; 
						text-shadow: none; 
						font-size: 14px; 
						line-height: 16px; 
						font-family: 'Open sans', Sans-Serif;
						font-weight: 300;
						text-transform:uppercase;
						margin: 0px; 
						border-width: 0px; 
						border-style: none; 
                    }
        .slide-subtxt {
	        width: 100%;
        }
        .slide-subtxt p i{
	        margin-right:5px;
	        font-size: 16px;
	        background: #f59123;
	        border:1px solid #e78315;
	        padding: 2px 7px;
        }
.caption.white-b2 img {
	                    float:left;
	                    margin-right:10px;
	                    
                    }
.caption.white-b2 p.blackbold {
	                    white-space:nowrap;
	                    margin-top:13px;
	                    float:left;
}
.caption.white-b2 p.country-name {
	                    font-weight:300;
	                    font-size:18px;
	                    line-height: 0px; 
	                    margin-top: 10px;
	                    float:left;
}
.caption.white-b2 p.country-name span{
	                    font-size:12px;
	                    margin-top: 20px;
	                    float:left;
}
.caption.white-b2 p {
	                    white-space:nowrap;
	                    margin-top:10px;
}
.caption.banner-player {
	                    position: absolute; 
						color: #fff; 
						text-shadow: none; 
						font-size: 60px; 
						line-height: 16px; 
						font-family: 'Open Sans Condensed', Sans-Serif;
						font-weight: 400;
						text-transform:uppercase;
						padding: 10px 25px 10px 25px; 
						margin: 0px; 
						text-shadow:0 1px 1px rgba(0,0,0,0.3);
						border-width: 0px; 
						border-style: none; 
						background-color:rgba(255,255,255,0);
						text-align: center;
}
.caption.banner-player span{
	                    font-size:16px;
	                    margin-top: 30px;
	                    float: left;
	                    font-family: 'Open sans', Sans-Serif;
						font-weight: 400;
                        color: #000;
                        text-shadow: 0 0 0 #000;
}
.caption.white-b3	{
						position: absolute; 
						color: #fff; 
						text-shadow: none; 
						font-size: 46px; 
						line-height: 26px; 
						font-family: 'Open Sans Condensed', Sans-Serif;
						font-weight: 400;
						text-transform:uppercase;
						padding: 25px 25px 15px 25px; 
						margin: 0px; 
						border-width: 0px; 
						border-style: none; 
						background-color: rgba(255,255,255,0.2);
                        text-shadow: 0 1px 2px rgba(0,0,0,0.5);
                        width: 300px;	
					}	
.caption.white-b3.federer {
	                    width: 700px;	
}
.caption.white-b3 span {
	                    color: #f59123;
	                    text-transform:uppercase;
	                    font-size: 46px; 
	                    text-shadow: 0 1px 2px rgba(0,0,0,0.5);
                    }
					
.caption.white-b3 p.atp-int {
	                    font-size: 36px;
	                    text-transform:none;
}
.caption.big_orange	{
						position: absolute; 
						color: #ff7302; 
						text-shadow: none; 
						font-weight: 700; 
						font-size: 36px; 
						line-height: 36px; 
						font-family: Arial; 
						padding: 0px 4px; 
						margin: 0px; 
						border-width: 0px; 
						border-style: none; 
						background-color:#fff;	
						letter-spacing: -1.5px;															
					}	
	
.caption.green-b4	{
						position: absolute; 
						color: #fff; 
						text-shadow: none; 
						font-size: 26px; 
						line-height: 36px; 
						font-family: 'MuseoSlab300Regular';
						text-transform:uppercase;
						padding: 3px 45px 3px 25px; 
						margin: 0px; 
						border-width: 0px; 
						border-style: none; 
						background-color:#add145;	
					}									
.caption.blue-b4	{
						position: absolute; 
						color: #fff; 
						text-shadow: none; 
						font-size: 26px; 
						line-height: 36px; 
						font-family: 'Raleway', sans-serif;
						font-weight: 400;
						text-transform:uppercase;
						padding: 3px 45px 3px 25px; 
						margin: 0px; 
						border-width: 0px; 
						border-style: none; 
						background-color:#10aedb;	
					}					
.caption.big_black	{
						position: absolute; 
						color: #000; 
						text-shadow: none; 
						font-weight: 700; 
						font-size: 36px; 
						line-height: 36px; 
						font-family: Arial; 
						padding: 0px 4px; 
						margin: 0px; 
						border-width: 0px; 
						border-style: none; 
						background-color:#fff;	
						letter-spacing: -1.5px;															
					}		

					
.caption.small_text	{
						position: absolute; 
						color: #fff; 
						text-shadow: none; 
						font-weight: 700; 
						font-size: 14px; 
						line-height: 20px; 
						font-family: Arial; 
						margin: 0px; 
						border-width: 0px; 
						border-style: none; 
						white-space:nowrap;	
						text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);		
					}
					
					
					
.caption.very_big_black	{
						position: absolute; 
						color: #000; 
						text-shadow: none; 
						font-weight: 700; 
						font-size: 60px; 
						line-height: 60px; 
						font-family: Arial; 
						margin: 0px; 
						border-width: 0px; 
						border-style: none; 
						white-space:nowrap;	
						padding: 0px 4px; 
						padding-top: 1px;
						background-color:#fff;		
					}
					
.caption.boxshadow	{
						-moz-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
						-webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
						box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
					}
											
.caption.black {
						color: #000; 
						text-shadow: none;		
					}	
					
.caption.noshadow {
						text-shadow: none;		
					}	
					
.caption a { color: #ff7302; text-shadow: none;	-webkit-transition: all 0.2s ease-out; -moz-transition: all 0.2s ease-out; -o-transition: all 0.2s ease-out; -ms-transition: all 0.2s ease-out;	 }			
.caption a:hover { color: #ffa902; }					

.pulse {
width: 15px;
height: 15px;
margin: 0 auto;
border: 3px solid #fff;
border-radius: 50%;
z-index: 999999;
-webkit-animation: pulsate 1s ease-out;
-webkit-animation-iteration-count: infinite;
opacity: 0.1;
}
@-webkit-keyframes pulsate {
    0% {
        -webkit-transform: scale(0.8, 0.8);
        opacity: 0.3;
        z-index:999999;
    }

    50% {
        -webkit-transform: scale(1, 1);
        opacity: 1.0;
        z-index:999999;
    }

    100% {
        -webkit-transform: scale(0.8, 0.8);
        opacity: 0.3;
        z-index:999999;
    }
}
@-moz-keyframes pulsate {
    0% {
        -moz-transform: scale(0.8, 0.8);
        opacity: 0.3;
        z-index:999999;
    }

    50% {
        -moz-transform: scale(1, 1);
        opacity: 1.0;
        z-index:999999;
    }

    100% {
        -moz-transform: scale(0.8, 0.8);
        opacity: 0.3;
        z-index:999999;
    }
}
@-o-keyframes pulsate {
    0% {
        -o-transform: scale(0.8, 0.8);
        opacity: 0.3;
        z-index:999999;
    }

    50% {
        -o-transform: scale(1, 1);
        opacity: 1.0;
        z-index:999999;
    }

    100% {
        -o-transform: scale(0.8, 0.8);
        opacity: 0.3;
        z-index:999999;
    }
}
@keyframes pulsate {
    0% {
        transform: scale(0.8, 0.8);
        opacity: 0.3;
        z-index:999999;
    }

    50% {
        transform: scale(1, 1);
        opacity: 1.0;
        z-index:999999;
    }

    100% {
        transform: scale(0.8, 0.8);
        opacity: 0.3;
        z-index:999999;
    }
}
/******************************
	-	BUTTONS	-
*******************************/

.button				{	padding:6px 13px 5px; border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; height:30px;						
						cursor:pointer;
						color:#fff !important; text-shadow:0px 1px 1px rgba(0, 0, 0, 0.6) !important; font-size:15px; line-height:45px !important;
						background:url(../images/gradient/g30.png) repeat-x top; font-family: arial, sans-serif; font-weight: bold; letter-spacing: -1px;
					}
					
.button.big			{	color:#fff; text-shadow:0px 1px 1px rgba(0, 0, 0, 0.6); font-weight:bold; padding:9px 20px; font-size:19px;  line-height:57px !important; background:url(../images/gradient/g40.png) repeat-x top;}				

						
.purchase:hover,
.button:hover,
.button.big:hover		{	background-position:bottom, 15px 11px;}

	  
	  
	@media only screen and (min-width: 768px) and (max-width: 959px) {

	 }  
  	
  
	  
	@media only screen and (min-width: 480px) and (max-width: 767px) {
		.button	{	padding:4px 8px 3px; line-height:25px !important; font-size:11px !important;font-weight:normal;	}
		a.button { -webkit-transition: none; -moz-transition: none; -o-transition: none; -ms-transition: none;	 }
		
				
	}
   
    @media only screen and (min-width: 0px) and (max-width: 479px) {   
		.button	{	padding:2px 5px 2px; line-height:20px !important; font-size:10px !important;}
		a.button { -webkit-transition: none; -moz-transition: none; -o-transition: none; -ms-transition: none;	 }
	}
	
					



/*	BUTTON COLORS	*/					



.button.green, .button:hover.green,
.purchase.green, .purchase:hover.green			{ background-color:#21a117; -webkit-box-shadow:  0px 3px 0px 0px #104d0b;        -moz-box-shadow:   0px 3px 0px 0px #104d0b;        box-shadow:   0px 3px 0px 0px #104d0b;  }


.button.blue, .button:hover.blue,
.purchase.blue, .purchase:hover.blue			{ background-color:#1d78cb; -webkit-box-shadow:  0px 3px 0px 0px #0f3e68;        -moz-box-shadow:   0px 3px 0px 0px #0f3e68;        box-shadow:   0px 3px 0px 0px #0f3e68;}			


.button.red, .button:hover.red,
.purchase.red, .purchase:hover.red				{ background-color:#cb1d1d; -webkit-box-shadow:  0px 3px 0px 0px #7c1212;        -moz-box-shadow:   0px 3px 0px 0px #7c1212;        box-shadow:   0px 3px 0px 0px #7c1212;}		

.button.orange, .button:hover.orange,
.purchase.orange, .purchase:hover.orange		{ background-color:#ff7700; -webkit-box-shadow:  0px 3px 0px 0px #a34c00;        -moz-box-shadow:   0px 3px 0px 0px #a34c00;        box-shadow:   0px 3px 0px 0px #a34c00;}
	
.button.darkgrey,.button.grey,
.button:hover.darkgrey,.button:hover.grey,
.purchase.darkgrey, .purchase:hover.darkgrey	{ background-color:#555; -webkit-box-shadow:  0px 3px 0px 0px #222;        -moz-box-shadow:   0px 3px 0px 0px #222;        box-shadow:   0px 3px 0px 0px #222;}																			

.button.lightgrey, .button:hover.lightgrey,
.purchase.lightgrey, .purchase:hover.lightgrey	{ background-color:#888; -webkit-box-shadow:  0px 3px 0px 0px #555;        -moz-box-shadow:   0px 3px 0px 0px #555;        box-shadow:   0px 3px 0px 0px #555;}						



/************************
	-	NAVIGATION	-
*************************/

/** BULLETS **/
.tp-bullets									{	z-index:100; position:absolute; bottom:10px; }
.tp-bullets.simplebullets					{ 	bottom:10px;}


.tp-bullets.simplebullets.navbar				{ bottom:-20px; background:url(../assets/navigdots_bgtile.png); height:35px; padding:0px 0px; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px ;margin-top:-17px;}

/**	SQUARE BULLETS **/
.tp-bullets.simplebullets.square .bullet			{	cursor:pointer; position:relative;	background:url(../assets/bullets2.png) no-Repeat bottom left;	width:19px;	height:19px;  margin-right:0px; float:left; margin-top:-10px;}									
.tp-bullets.simplebullets.square .bullet.last		{	margin-right:0px;}

/** navbar NAVIGATION VERSION **/
.tp-bullets.simplebullets.navbar .bullet		{	cursor:pointer; position:relative;	background:url(../assets/navigdots.png) no-Repeat bottom left;	width:15px;	height:15px;  margin-left:5px !important; margin-right:5px !important;float:left; margin-top:10px;}										
.tp-bullets.simplebullets.navbar .bullet.first		{	margin-left:30px !important;}
.tp-bullets.simplebullets.navbar .bullet.last		{	margin-right:30px !important;}




/*************************************
	-	TP ARROWS 	-
**************************************/

/* 
.tp-leftarrow						{	z-index:100;cursor:pointer; position:relative;	background:url(../assets/arrow_left.png) no-Repeat top left;	width:26px;	height:26px;  margin-right:0px; float:left; margin-top:-13px;	}										
.tp-rightarrow						{	z-index:100;cursor:pointer; position:relative;	background:url(../assets/arrow_right.png) no-Repeat top left;	width:26px;	height:26px;  margin-right:0px; float:left;	margin-top:-13px;}
.tp-leftarrow.navbar				{	z-index:100;cursor:pointer; position:relative;	background:url(../assets/arrowleft.png) no-Repeat top left;		width:9px;	height:16px;   float:left;	margin-right:-20px; margin-top:-8px;}										
.tp-rightarrow.navbar				{	z-index:100;cursor:pointer; position:relative;	background:url(../assets/arrowright.png) no-Repeat top left;	width:9px;	height:16px;   float:left;	margin-left:-20px; margin-top:-8px;}										
.tp-leftarrow.navbar.thumbswitharrow	{	margin-right:10px; }
.tp-rightarrow.navbar.thumbswitharrow	{	margin-left:0px; }
 */
.tp-bullets.simplebullets {z-index: 9999; bottom: 25% !important; left: 70% !important;}
.tp-bullets.simplebullets .bullet{	cursor:pointer; display: inline-block;background: url("../assets/bollet.png") no-repeat bottom; margin-left: 7px;	width:56px;	height:11px;}
.tp-bullets.simplebullets .bullet:hover, .tp-bullets.simplebullets .bullet.selected {background: url("../assets/bollet_hover.png") no-repeat;}

.tp-leftarrow.square				{	z-index:100;cursor:pointer; position:relative;	background:url(../assets/arrow_left2.png) no-Repeat top left;	width:12px;	height:17px;   float:left;	margin-right:0px; margin-top:-9px;}										
.tp-rightarrow.square				{	z-index:100;cursor:pointer; position:relative;	background:url(../assets/arrow_right2.png) no-Repeat top left;	width:12px;	height:17px;   float:left;	margin-left:0px; margin-top:-9px;}										

.tp-leftarrow.large					{	z-index:100;cursor:pointer; position:relative;	background:url(../assets/arrow_large_left.png) no-Repeat top left;	width:61px;	height:60px; top: 50% !important; margin-left:20px; margin-top:-23px; }
.tp-rightarrow.large				{	z-index:100;cursor:pointer; position:relative;	background:url(../assets/arrow_large_right.png) no-Repeat top left;	width:61px;	height:60px; top: 50% !important;  margin-left:-20px; margin-top:-23px; }

.tp-leftarrow:hover,
.tp-rightarrow:hover {	background-position:bottom left; }






/****************************************************************************************************
	-	TP THUMBS 	-	
*****************************************************************************************************

 - tp-thumbs & tp-mask Width is the width of the basic Thumb Container (500px basic settings)

 - .bullet width & height is the dimension of a simple Thumbnail (basic 100px x 50px)

 *****************************************************************************************************/


.tp-bullets.tp-thumbs						{	z-index:100; position:absolute; padding:0px 2px 2px;background-color:#fff;
												width:500px;height:50px; 			/* THE DIMENSIONS OF THE THUMB CONTAINER */
											}

.fullwidthbanner-container {margin-bottom: 0;}
.fullwidthbanner-container .fullwidthbanner  {overflow: hidden; position: relative;}
.fullwidthbanner-container .tp-thumbs					{  padding:2px;}											

.tp-bullets.tp-thumbs .tp-mask				{	width:500px; height:50px;  			/* THE DIMENSIONS OF THE THUMB CONTAINER */
												overflow:hidden; position:relative;}


.tp-bullets.tp-thumbs .tp-mask .tp-thumbcontainer	{	width:5000px; position:absolute;}

.tp-bullets.tp-thumbs .bullet				{   width:100px; height:50px; 			/* THE DIMENSION OF A SINGLE THUMB */
												cursor:pointer; overflow:hidden;background:none;margin:0;float:left;
												-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";	filter: alpha(opacity=50);	-moz-opacity: 0.5;	-khtml-opacity: 0.5;	opacity: 0.5;
												-webkit-transition: all 0.2s ease-out; -moz-transition: all 0.2s ease-out; -o-transition: all 0.2s ease-out; -ms-transition: all 0.2s ease-out;	
											}
.tp-bullets.tp-thumbs .bullet:hover,
.tp-bullets.tp-thumbs .bullet.selected		{ -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";	filter: alpha(opacity=1);	-moz-opacity: 1;	-khtml-opacity: 1;	opacity: 1;}											
.tp-thumbs img								{	width:100%; }


/************************************
		-	TP BANNER TIMER		-
*************************************/
.tp-bannertimer								{	width:100%; height:5px; /*background:rgba(189,62,76,.8);*/background:rgba(255,255,255,.4);position:relative; z-index:200; bottom: 0px;}
	
	
	
	
/***************************************
	-	RESPONSIVE SETTINGS 	-
****************************************/	
	
	
	@media only screen and (min-width: 768px) and (max-width: 959px) {

	 }  
  	
  
	  
	@media only screen and (min-width: 480px) and (max-width: 767px) {
			.responsive .tp-bullets.tp-thumbs				{	width:300px !important; height:30px !important;}
			.responsive .tp-bullets.tp-thumbs .tp-mask		{	width:300px !important; height:30px !important;}
			.responsive .tp-bullets.tp-thumbs .bullet		{	width:60px !important;height:30px !important;}
				
	}
   
    @media only screen and (min-width: 0px) and (max-width: 479px) {   
				.responsive .tp-bullets	{	display:none}
				.responsive .tparrows	{	display:none;}
	}
	
   
   

   
/*********************************************

	-	BASIC SETTINGS FOR THE BANNER	-

***********************************************/

 .tp-simpleresponsive img {
		-moz-user-select: none; 
        -khtml-user-select: none; 
        -webkit-user-select: none; 
        -o-user-select: none; 
}


.tp-simpleresponsive ul {
	list-style:none;
	padding:0;
	margin:0;
}			

.tp-simpleresponsive >ul li{
	list-stye:none;			
	position:absolute;
	visibility:hidden;
}
/*  CAPTION SLIDELINK   **/
.caption.slidelink a div {	width:10000px; height:10000px;  }  

.tp-loader 	{	background:url(../assets/loader.gif) no-repeat 10px 10px; background-color:#fff;  
           	 	margin:-22px -22px; 
           	 	top:40%; 
           	 	left:50%; z-index:10000; position:absolute;width:44px;height:44px;
				border-radius: 3px; 
				-moz-border-radius: 3px; 
				-webkit-border-radius: 3px; 
			}
   
   
   
   
 

@media only screen and (min-width: 768px) and (max-width: 995px) {
.caption.gray-b2	{
	margin:0 0 0 50px;
}
}








@media only screen and (min-width: 640px) and (max-width: 768px) {
.caption.gray-b2	{
	margin:0 0 0 50px;
}
.caption.pink-b4	{
	margin:0 0 0 50px;
}
.caption.green-b4	{
	margin:0 0 0 50px;
}
.caption.blue-b4	{
	margin:0 0 0 50px;
}
.caption.lcd{
	margin:0 0 0 -40px;
}
	

}























@media only screen and (min-width: 480px) and (max-width: 640px) {
.caption.lcd{
	margin:0 0 0 -30px;
}
.caption.gray-b2	{
	margin:0 0 0 50px;
}
.caption.pink-b4	{
	margin:0 0 0 50px;
}
.caption.green-b4	{
	margin:0 0 0 50px;
}
.caption.blue-b4	{
	margin:0 0 0 50px;
}
}














@media only screen and (min-width: 320px) and (max-width: 480px) {
.caption.lcd{
	margin:0 0 0 -20px;
}
.caption.gray-b2	{
	margin:0 0 0 50px;
}
.caption.pink-b4	{
	margin:0 0 0 50px;
}
.caption.green-b4	{
	margin:0 0 0 50px;
}
.caption.blue-b4	{
	margin:0 0 0 50px;
}

}



 @media only screen and (max-width: 320px) {
.caption.lcd{
	margin:0 0 0 -20px;
}
.caption.gray-b2	{
	margin:0 0 0 50px;
}
.caption.pink-b4	{
	margin:0 0 0 50px;
}
.caption.green-b4	{
	margin:0 0 0 50px;
}
.caption.blue-b4	{
	margin:0 0 0 50px;
}
}

